.job{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.job-infos {
    flex-grow: 2;
    text-align: left;
    margin: 0.5em 1.5em;
}

.job-infos-title {
    margin: 0;
    font-size: 1.2em;
    font-weight: bolder;
    
    a {
        color: #3A4252
    };
}

.job-infos-details { 
    display: flex;
    flex-direction: row;
}

.job-infos-details-company-name, .job-infos-details-ref {
    font-size: 0.8em;
    margin-right: 1em;
}

.star-active {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='grey' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'%3E%3C/polygon%3E%3C/svg%3E");
}